---
import LaVeladaLogo from "../icons/LaVeladaLogo.astro";
const TIMESTAMP_END = 1733396400
---

<section class="flex flex-col items-center justify-center">
    <LaVeladaLogo class="text-primary" />
    <div data-date={TIMESTAMP_END} class="flex md:flex-row gap-x-3 text-primary font-semibold my-3 uppercase ">
        <div class="flex flex-col justify-center items-center" >
            <span class="text-4xl tabular-nums" data-days>00</span>
            <span>Días</span>
        </div>
        <span class="text-xl mt-1">:</span>
        <div class="flex flex-col justify-center items-center">
            <span class="text-4xl tabular-nums" data-hours>00</span>
            <span>Horas</span>
        </div>
        <span class="text-xl mt-1">:</span>
        <div class="flex flex-col justify-center items-center" >
            <span class="text-4xl tabular-nums" data-minutes>00</span>
            <span>Minutos</span>
        </div>
        <span class="text-xl mt-1">:</span>
        <div class="flex flex-col justify-center items-center">
            <span class="text-4xl tabular-nums" data-seconds>00</span>
            <span>Segundos</span>
        </div>
    </div>
</section>

<script>


    // Countdown logic here
    const SECOND = 1000;
    const MINUTE = SECOND * 60;
    const HOUR = MINUTE * 60;
    const DAY = HOUR * 24;

    function init(){
        const $countdown = document.querySelector('[data-date]');
        if (!$countdown) return;

        const $days = $countdown.querySelector('[data-days] ');
        const $hours = $countdown.querySelector('[data-hours] ');
        const $minutes = $countdown.querySelector('[data-minutes] ');
        const $seconds = $countdown.querySelector('[data-seconds] ');

        const timestamp = $countdown.getAttribute('data-date')
        if (!timestamp) return;

        const date = new Date(+timestamp * 1000).getTime();

        const formatTime = (time:number) => {
            return Math.floor(time).toString().padStart(2, '0');
        }

        function updateCountdown() {
            const now = Date.now();
            const diff = date - now;

            if($days instanceof HTMLElement){
                $days.innerText = formatTime(diff / DAY).toString();
            }
            if($hours instanceof HTMLElement){
                $hours.innerText = formatTime((diff % DAY) / HOUR).toString();
            }
            if($minutes instanceof HTMLElement){
                $minutes.innerText = formatTime((diff % HOUR) / MINUTE).toString();
            }
            if($seconds instanceof HTMLElement){
                $seconds.innerText = formatTime((diff % MINUTE) / SECOND).toString();
            }
            
        }

        setInterval(updateCountdown, SECOND);
        updateCountdown();
    }
    init();
</script>