<section class="flex flex-col justify-center items-center my-14">
    <h2 class=" uppercase font-bold text-lg text-primary">4 de marzo<span class=" hidden md:inline"> - </span><br aria-hidden class="block md:hidden" />19:00 H CET</h2>
    <h3 class=" uppercase flex flex-col justify-center items-center mb-4 text-primary">
        <span>Evento de Presentación</span>
        <span>Teatro Victoria (Barcelona)</span>
    </h3>
    <a
        class="text-primary border-2 border-primary font-semibold px-4 hover:scale-125 hover:opacity-70"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
    >
        Entradas Agotadas
    </a>
</section>