---

---

<section class="flex flex-col gap-y-10 my-32 font-medium text-primary">
    <div>
        <a
            class="flex justify-center items-center hover:scale-125 hover:opacity-70 transition" 
            href="https://www.twitch.tv/ibai"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="/twitch.svg" alt="Twitch" class="w-12 h-12" />
        </a>
    </div>
    <div class="flex flex-col md:flex-row uppercase text-center gap-x-8">
        <article class="order-2 md:order-1 flex justify-center items-center text-xl px-10 py-10 md:py-16 border-t-2 md:border-y-2 border-primary">
            <h5>Presentación, pesaje y entrevista cara a cara</h5>
        </article>
        <article class="order-1 flex justify-center items-center text-4xl px-10 py-10 md:py-16 border-t-2 md:border-y-2 border-primary">
            <h4>
                <a
                    href="https://www.twitch.tv/ibai"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:text-purple-800 transition hover:scale-110 inline-block"
                >
                    síguelo en directo twitch.tv/ibai
                </a>
            </h4>
        </article>
        <article class="order-3 flex justify-center items-center text-xl px-10 py-10 md:py-16 border-y-2 border-primary">
            <h5>Con la presencia de los boxeadores y boxeadoras</h5>
        </article>
    </div>

</section>